
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tblBlog').DataTable({
                    "searching": true,
                    "ordering": true,
                    "pagingType": "full_numbers",
                    "ajax": "/Datatables/getBlogs",
                    "columns": [
                        { "data": "ID" },
                        { "data": "CategoryId" },
                        { "data": "Subject" },
                        { "data": "Body" },
                        { "data": "DatePosted" },
                        { "data": "Type" },
                        { "data": "OtherType" },
                        { "data": "Category" }
                    ]
                });
            });
    </script>
}

<table id="tblBlog" class="display" cellspacing="0" data-page-length='5'>
    <thead>
        <tr>
            <th>ID</th>
            <th>CategoryId</th>
            <th>Subject</th>
            <th>Body</th>
            <th>DatePosted</th>
            <th>Type</th>
            <th>OtherType</th>
            <th>Category</th>
        </tr>
    </thead>
</table> 


