@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        // Select table
        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var $chkbox_all = $('tbody input[type="checkbox"]', $table);
            var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

            // If none of the checkboxes are checked
            if ($chkbox_checked.length === 0) {
                chkbox_select_all.checked = false;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If all of the checkboxes are checked
            } else if ($chkbox_checked.length === $chkbox_all.length) {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If some of the checkboxes are checked
            } else {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = true;
                }
            }
        }
        // Shorthand for $( document ).ready()
        $(function () {

            var rows_selected = [];
            var table = $('#tblBlog').DataTable({
                "searching": true,
                "ordering": true,
                "pagingType": "full_numbers",
                "ajax": "/Datatables/getBlogs",
                "columns": [
                    {
                        'render': function (data, type, full, meta) {
                            
                            return '<input type="checkbox">';
                        },
                        "targets": 'no-sort',
                    },
                    { "title": "ID", "data": "ID" },
                    { "data": "CategoryId" },
                    { "data": "Subject" },
                    { "data": "Body" },
                    { "data": "DatePosted" },
                    { "data": "Type" },
                    { "data": "OtherType" },
                    { "title": "Category Name", "data": "CategoryName" }
                ],
                'rowCallback': function (row, data, dataIndex) {
                    // Get row ID
                    var rowId = data[0];
                    // If row ID is in the list of selected row IDs
                    if ($.inArray(rowId, rows_selected) !== -1) {
                        $(row).find('input[type="checkbox"]').prop('checked', true);
                        $(row).addClass('selected');
                    }
                }
            });


            // Handle click on checkbox
            $('#tblBlog tbody').on('click', 'input[type="checkbox"]', function (e) {
                var $row = $(this).closest('tr');

                // Get row data
                var data = table.row($row).data();

                // Get row ID
                var rowId = data[0];

                // Determine whether row ID is in the list of selected row IDs
                var index = $.inArray(rowId, rows_selected);

                // If checkbox is checked and row ID is not in list of selected row IDs
                if (this.checked && index === -1) {
                    rows_selected.push(rowId);

                    // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                } else if (!this.checked && index !== -1) {
                    rows_selected.splice(index, 1);
                }

                if (this.checked) {
                    $row.addClass('selected');
                } else {
                    $row.removeClass('selected');
                }

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                if (this.checked) {
                    $('#tblBlog tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    $('#tblBlog tbody input[type="checkbox"]:checked').trigger('click');
                }

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle table draw event
            table.on('draw', function () {
                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);
            });

            // Handle form submission event
            $('#frm-blog').on('submit', function (e) {
                e.preventDefault();
                var form = this;

                for (var i = 0; i < rows_selected.length; i++) {
                    console.log('ID value = ' + rows_selected[i]);
                }


                // Iterate over all selected checkboxes
                //$.each(rows_selected, function (index, rowId) {
                //    // Create a hidden element
                //    $(form).append(
                //        $('<input>')
                //            .attr('type', 'hidden')
                //            .attr('name', 'UserIDs[]')
                //            .val(rowId)
                //    );
                //});

                //// FOR DEMONSTRATION ONLY

                //// Output form data to a console
                //$('#example-console').text($(form).serialize());
                //console.log("Form submission", $(form).serialize());

                //// Remove added elements
                //$('input[name="id\[\]"]', form).remove();

                // Prevent actual form submission
                 
            });
        });
    </script>
}

<form action="@Url.Action("DeleteRecords", "Datatables")" method="post" id="frm-blog">
    <table id="tblBlog" class="display" cellspacing="0" data-page-length="5">
        <thead>
            <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>ID</th>
                <th>CategoryId</th>
                <th>Subject</th>
                <th>Body</th>
                <th>DatePosted</th>
                <th>Type</th>
                <th>OtherType</th>
                <th>Category Name</th>
            </tr>
        </thead>
    </table>
    <pre id="example-console"></pre>
    <p><button>Submit</button></p>
</form>
